*{
    margin: 0;
}

h1 {
    text-align: center;
    margin: 40px 0;
  }

main{
    width: 100%;
}

wc-form{
    width: 100%;
}

#PreviewContainer{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: auto ;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding-bottom: 44px;
}

#formContainer{
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
}

#PreviewContainer #iframeContainer{
    width: 100%;
    height: 100%;
}

#iframeContainer iframe{
    width: 100%;
    height: 100%;
    border: none !important;
}

img{
    max-width: 200px;
    width: 70%;
    height: auto;
    padding: 44px 0;
    margin: 0 auto;
}

form{
    margin:0 auto;
    display:grid; 
    grid-template-columns: auto;
    row-gap:5px; 
    width: 90%;
    box-shadow: 0px 4px 20px rgba(170, 170, 170, 0.25);
    border-radius: 12px;
    padding: 24px 40px;
    box-sizing: border-box;
}

form input{
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #CED0D1;
    box-sizing: border-box;
    box-shadow: 0px 2px 24px #EDF0FF;
    border-radius: 4px;
    font-family: 'cvsreg';
    font-weight: normal;
    font-size: 13px;
    line-height: 1;
    padding: 1px 2px;
    padding-left: 1rem;
    color: #606060;
    margin-bottom: 10px;
}

form b{
    font-family: 'cvsreg';
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;    
    color: #303030;
}

form select{
    width: 100%;
    height: 36px;
    border: 1px solid #C8C8EE;
    box-sizing: border-box;
    box-shadow: 0px 2px 24px #edf0ff;
    border-radius: 4px;   
    padding: 1px 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    align-content: center;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'cvsreg';
    font-size: 13px;
    color: #606060;
}

form select:hover{
    border-color: #5A55F2;
    transition: all .2s;
}

.btn{
    cursor: pointer;
    transition: all .2s;
    width: 100%;
    background: #000;
    color: white;
    font-size: 14px;
    line-height: 110%;
    font-family: 'cvsbold';
    font-weight: normal;
    height: 48px;
    border: solid 2px #000;
    letter-spacing: 0.25em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
    border-radius: 4px;
    margin-top: 10px;
}

.btn:hover{
    background-color: #fff;
    border: solid 2px #000;
    color: #000;
    transition: all .2s;
}
 
#icon::before {
    content: '+';
    color: #303030;
    position: absolute;
    top: 40%;
    right: 0px;
    font-size: 18px;
    transform: translateY(-50%);
    font-family: 'cvsreg';
    /* padding-bottom: 5px; */
  }
 
.active #icon::before {
    content: '-';
    font-size: 20px;
    color: #303030;
    font-family: 'cvsreg';
    /* padding-bottom: 5px; */
  }
#border{
    border-top: 1px solid #CED0D1;
}
.accordion{
    color: #303030;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'cvsreg';
    font-size: 13px; 
    background-color: white;
    box-shadow: none;
}
.accordion-container{
    position: relative;
}

.content{
    display: grid;
    grid-template-columns: auto;
    /* padding: 0px 20px; */
    display: none;
    background-color: white;
    overflow: hidden;
}
